button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: gray;
    color: white;
}

li {
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul li:hover {
    background-color: white;
    color: black;
}

ul li:active {
    background-color: black;
    color: white;
}

ul li:disabled {
    background-color: gray;
    color: white;
}